.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: 10% 20%;
    background-color: #AD88C6;
    border-radius: 3px;
}
.input__container{
    display: flex;
}
.length__para{
    padding-left: 15px;

}
.Input__slider{
    width: 75%;
    margin-left: 10px;
}
.checkBox__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.checkBox__wrapper > .checkBox__container{
    padding: 10px;
    display: flex;
}

.checkbox{
    height: 20px;
    width: 20px;
}
.generate__button{
    height: 40px;
    width: 100px;
    align-self: flex-end;
    border-radius: 3px;
    border-style: none;
    margin-left: 10px;
}
.footer_container{
    display: flex;
    justify-content: space-between;
}

.generate__copy{
    height: 40px;
    width: auto;
    align-self: flex-end;
    border-radius: 3px;
    border-style: none;
    margin-left: 10px;
}
.red{
    color: red;
}
.yellow{
    color:orange;
}
.green{
    color: green;
}