.holy_container{
    height:100vh;
    display: grid;
    grid: auto 1fr auto / auto 1fr auto


}


.header{
    grid-column: 1 / 4;
    padding: 10px;
    background-color: rgb(237, 31, 31);
}



.left__sidebar{
    padding: 10px;
    background-color: aqua;
}

.body__sidebar{
    padding: 10px;
    background-color: rgb(159, 218, 64);
}

.right__sidebar{
    padding: 10px;
    background-color: rgb(96, 110, 227);
}

.footer{
    grid-column: 1 / 4;
    padding: 10px;
    background-color: chocolate;
}

@media (max-width:468px)  {
    .holy_container{
        grid: repeat(5,1fr) / auto
    }
    .header , .footer, .body__sidebar, .left__sidebar, .right__sidebar{
        grid-column: 1/2;
    }
}