/* Write your CSS here */
.appointment__container {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 2px solid black;
  border-radius: 3px;
  padding: 2px 10px;
}
.star__img_icon{
  width: 3px;
}

.heading__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.star__button {
  align-self: center;
  background-color: transparent;
  border-style: none;
}
